*.log
.DS_Store
Thumbs.db

.env
.env.backup
.env.production

.phpactor.json
.phpunit.result.cache
/.phpunit.cache

/.fleet
/.idea
/.vscode
/.zed
/.nova

/auth.json

/node_modules
/vendor

/public/build
/public/hot
/public/storage

/storage/*
!/storage/app/public
!/storage/framework
!/storage/logs

Homestead.json
Homestead.yaml